.profile-container {
    width: 80%;
    margin: 7rem auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    position: relative; /* برای قرار دادن تصویر خارج از باکس */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-image {
    position: absolute;
    top: -6rem; /* برای قرار دادن نصف تصویر خارج از باکس */
    left: 50%;
    transform: translateX(-50%);
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-image img {
    width: 100%;
    height: auto;
  }
  

  .profile-title  {
    margin: 10px 0;
    margin-top: 5rem; 

    color: hsl(240, 37%, 26%);
  }
  

  .profile-details {
    text-align:right;
    margin: 1rem 1rem;
  }
  
 
  .profile-details p {
    font-size: 1.4rem;
    text-align: center;
    direction: rtl !important;
    margin: 5px 0;
    color: #666;
  }
  
  
@media (max-width: 768px) {
    .profile-container {
      width: 90%;
    }
    .profile-details p {
        font-size: 1rem;
        text-align: center;
        direction: rtl !important;
        margin: 5px 0;
        color: #666;
      }
}
@media (max-width: 1200px) {
  .profile-container {
    width: 90%;
  }
  .profile-details p {
      font-size: 1.2rem;
      text-align: center;
      direction: rtl !important;
      margin: 5px 0;
      color: #666;
    }
}