:root {
  --title-color: hwb(240 16% 64%);
  --title-size: 1.5rem;
  --line-color: hwb(240 24% 19%);
  --button-active-color: #4da6ffe0;
  --background-container-color:#f8f9fa ;
  --border-color: #0025cc54;
}

@media print {
  body {
    margin: 0;
    font-family: 'Vazirmatn', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .navbar {
    display: none !important;
  }
}
